# Advanced Python Programming - First Assignment

**Topics Covered:** Data Types, Data Structures, Loops, Conditionals, Functions  

**Instructions:**  
- Answer all questions  
- Write clean code  
- Do not use external libraries 

**Submission Guidelines:**
- Save as: `FirstName_LastName_Assignment1.ipynb`
- Test all code before submission
- Include output for each question
- Add comments explaining your logic
- Deadline: 12-19-2025

## Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.  
Display each value with its data type.  
Convert age to float and marks to int before displaying.

In [ ]:

name = input('Name: ')
roll = input('Roll: ')
age = float(input('Age: '))
marks = int(input('Marks: '))
print('Name:', name, type(name))
print('Roll:', roll, type(roll))
print('Age:', age, type(age))
print('Marks:', marks, type(marks))

Name: yolisa <class 'str'>
Roll: 48 <class 'str'>
Age: 20.0 <class 'float'>
Marks: 60 <class 'int'>

## Question 2: Conditional Logic
Accept marks (0–100) and display:
- Excellent (≥80)
- Good (≥60)
- Pass (≥40)
- Fail (<40)

In [7]:

marks = float(input('Marks (0-100): '))
if marks >= 80:
    print('Excellent')
elif marks >= 60:
    print('Good')
elif marks >= 40:
    print('Pass')
else:
    print('Fail')

Pass

## Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [22]:

result = [i for i in range(1, 101) if i % 4 == 0 and i % 8 != 0]
print(result)

[4, 12, 20, 28, 36, 44, 52, 60, 68, 76, 84, 92, 100]

## Question 4: List Operations
Given:
```python
marks = [55, 72, 48, 90, 67, 72, 90]
```
Find max, min, count of 72, and marks ≥ 60.

In [36]:

marks = [55, 72, 48, 90, 67, 72, 90]
print('Max:', max(marks))
print('Min:', min(marks))
print('Count of 72:', marks.count(72))
print('Marks >= 60:', [m for m in marks if m >= 60])

Max: 90
Min: 48
Count of 72: 2
Marks >= 60: [72, 90, 67, 72, 90]

## Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.  
Explain result using comments.

In [ ]:

subjects = ('Math', 'Physics', 'Chemistry', 'Biology', 'English')
print('Subjects tuple:', subjects)
# Attempt to modify - will raise TypeError because tuples are immutable
try:
    subjects[0] = 'Computer'
except TypeError as e:
    print('Modification failed (tuples are immutable):', e)

Subjects tuple: ('Math', 'Physics', 'Chemistry', 'Biology', 'English')
Modification failed (tuples are immutable): 'tuple' object does not support item assignment

## Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [49]:

def sanitize_marks(marks):
    cleaned = []
    invalid = 0
    for m in marks:
        if isinstance(m, (int, float)) and 0 <= m <= 100:
            cleaned.append(m)
        else:
            invalid += 1
    percent_valid = (len(cleaned) / len(marks) * 100) if marks else 0
    return (cleaned, invalid, percent_valid)

marks = [45, -3, 88, 'NA', 102, None, 67]
print(sanitize_marks(marks))

([45, 88, 67], 4, 42.857142857142854)

## Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [70]:

students = {}
def add_student(roll, name):
    students[roll] = name
def update_student(roll, name):
    if roll in students:
        students[roll] = name
    else:
        print('Roll not found to update')
def display_students():
    print(students)

# Example usage
add_student('101', 'Yolisa')
add_student('102', 'Sita')
update_student('102', 'Sita Sharma')
display_students()

{'101': 'Yolisa', '102': 'Sita Sharma'}

## Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [80]:

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [i for i in range(1, 59) if is_prime(i)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

## Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)
```

Explain why modular design is beneficial.

In [89]:

def total_marks(marks):
    return sum(marks)
def average_marks(marks):
    return total_marks(marks) / len(marks) if marks else 0
def classify(avg):
    if avg >= 75:
        return 'Distinction'
    elif avg >= 40:
        return 'Pass'
    else:
        return 'Fail'
def student_result(name, marks):
    t = total_marks(marks)
    a = average_marks(marks)
    return (name, t, a, classify(a))

print(student_result('Yolisa', [78, 82, 91]))

('Yolisa', 251, 83.66666666666667, 'Distinction')

## Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [97]:

def parse_student(raw):
    try:
        parts = raw.split('|', 3)
        if len(parts) != 4:
            raise ValueError('Input does not have 4 parts')
        name = parts[0].strip()
        roll = parts[1].strip()
        age = int(parts[2].strip())
        marks_str = parts[3].strip()
        marks = [int(m.strip()) for m in marks_str.split(',') if m.strip()!='']
        # Validate age and marks
        if age < 16:
            raise ValueError('Age must be >= 16')
        marks = [m for m in marks if 0 <= m <= 100]
        return {roll: {'name': name, 'age': age, 'marks': marks}}
    except Exception as e:
        return {'error': str(e), 'input': raw}

print(parse_student('Yolisa|101|22|78, 88, 91'))
print(parse_student('BadInput'))

{'101': {'name': 'Yolisa', 'age': 22, 'marks': [78, 88, 91]}}
{'error': 'Input does not have 4 parts', 'input': 'BadInput'}

## Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [104]:

def separate_and_convert(data):
    numeric = []
    non_numeric = []
    for x in data:
        # True is an instance of bool which is subclass of int, so treat as numeric
        if isinstance(x, (int, float)) and not isinstance(x, str):
            numeric.append(float(x))
        else:
            try:
                numeric.append(float(x))
            except Exception:
                non_numeric.append(x)
    return numeric, non_numeric

data = [10, '20', 30.5, 'abc', None, True]
print(separate_and_convert(data))

([10.0, 20.0, 30.5, 1.0], ['abc', None])

## Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [110]:

result = []
n = 1
while len(result) < 7:
    result.append(n * (n + 1))
    n += 1
print(result)

[2, 6, 12, 20, 30, 42, 56]

## Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [ ]:

python = {'Amit', 'Sita', 'Hari', 'Nita'}
sql = {'Hari', 'Ram', 'Nita'}
statistics = {'Amit', 'Hari', 'Gita'}
all_students = python | sql | statistics
# exactly two subjects: count of membership across sets == 2
exactly_two = {s for s in all_students if sum([s in python, s in sql, s in statistics]) == 2}
only_one = {s for s in all_students if sum([s in python, s in sql, s in statistics]) == 1}
all_three = python & sql & statistics
print('Exactly two:', exactly_two)
print('Only one:', only_one)
print('All three:', all_three)

Exactly two: {'Amit', 'Nita'}
Only one: {'Sita', 'Gita', 'Ram'}
All three: {'Hari'}

## Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [ ]:

def analyze_records(records):
    averages = {name: sum(marks)/len(marks) for name, marks in records.items()}
    top = max(averages.items(), key=lambda x: x[1])
    bottom = min(averages.items(), key=lambda x: x[1])
    return {'averages': averages, 'top_performer': top, 'bottom_performer': bottom}

records = {'Amit': [78,82,91], 'Sita':[88,79,85], 'Hari':[45,52,60]}
print(analyze_records(records))

{'averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336}, 'top_performer': ('Sita', 84.0), 'bottom_performer': ('Hari', 52.333333333333336)}

## Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [115]:

def analyze_school(school_data):
    student_averages = {}
    class_toppers = {}
    total_sum = 0
    total_count = 0
    for class_name, students in school_data.items():
        best = (None, -1)
        for student, marks in students.items():
            avg = sum(marks)/len(marks) if marks else 0
            student_averages[student] = avg
            total_sum += sum(marks)
            total_count += len(marks)
            if avg > best[1]:
                best = (student, avg)
        class_toppers[class_name] = best
    school_average = total_sum / total_count if total_count else 0
    return {'class_toppers': class_toppers, 'school_average': school_average, 'student_averages': student_averages}

school_data = {
    'Class A': {'Amit':[78,82,91], 'Sita':[88,79,85]},
    'Class B': {'Hari':[45,52,60], 'Ram':[92,88,95]}
}
print(analyze_school(school_data))
# Nested dictionaries are useful because they model hierarchical relationships directly (class -> student -> marks).

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.66666666666667)}, 'school_average': 77.91666666666667, 'student_averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Ram': 91.66666666666667}}

In [116]:
my_list1 = [1, 2, 3, 4, 5]


for i, value in enumerate(my_list1, start=2):
    print(f"Index: {index}, Value: {value}, my")

NameError: name 'index' is not defined

In [ ]:
for i in range(1,3):
    print(i, my_list1[i])

1 2
2 3

In [ ]:
if isinstance(my_list1, int):

In [ ]:
list1 = [1, 2, 3, 4, 5]
tuple2 = (6, 7, 8, 9, 10, 99)

for a in zip(list1, tuple2):
    print(a)

(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)

In [ ]:
str1 = "Advanced Python Programming"
str1.split(" ")

['Advanced', 'Python', 'Programming']

In [ ]:
python world

SyntaxError: invalid syntax (2311601530.py, line 1)

In [ ]:
input = "dlrow nohtyp"
output = "python world"

In [ ]:
input = "nohtyp dlrow"
" ".join([word[::-1] for word in input.split()])

'python world'

In [ ]:
temp = []
for element in input.split():
    temp.append(element)

In [ ]:
temp

['nohtyp', 'dlrow']

In [ ]:
temp2 = []
for value in temp:
    temp2.append(value[::-1])

temp2

['python', 'world']

In [ ]:
ss = temp2[0] + " " + temp2[1]
ss

'python world'